extends ../layouts/base
block content
  main
    section
      .container
        .mainPageWarpepr
          h1 Директор на всі 200
          h4 Тренажер для успішного проходження конкурсу на посаду директора закладу загальної середньої освіти
          .desc
            p Один з кроків до перемоги у конкурсі на посаду директора — скласти іспит на знання законодавства у сфері загальної середньої освіти. Щоб запитання не підривали мозок, а відповіді відскакували від зубів, прокачайте знання з допомогою тренажера.
            p У ньому ми, редакція «Практики управління закладом освіти», заклали вимоги Закону про повну загальну середню освіту та рекомендації МОН (лист від 20.05.2020 №1/9-264). Це значить, що:
            ul 
              li тести складено відповідно до Примірного переліку питань для перевірки знання законодавства у сфері загальної середньої освіти, затвердженого наказом МОН від 19.05.2020 № 654 (далі — Перелік);
              li кількість запитань у тесті можна змінювати — від 30 до 50, як рекомендує МОН, або всі 200, передбачені Переліком, — для відчайдухів 
                span.smile 😉
                | ;
              li на кожне запитання слід обрати одну відповідь із чотирьох;
              li тест можна або роздрукувати, або пройти онлайн.
            p Ми розробляли тренажер з повагою до вас та вірою у вашу перемогу на конкурсі, а тому маєте змогу:
            ul
              li проходити тест стільки разів, скільки потрібно, щоб відточити знання законодавства у сфері загальної середньої освіти;
              li підглянути правильну відповідь на запитання тесту та підставу, чому саме та чи та відповідь є правильною, в посібнику «Директор на всі 200».
          h5 Щоб мозок мохом не поріс,
          a.btn(href="/") Нумо тренуватися!