extends ../layouts/base
block content
  main
    section
      .container
        .mainPageWarpepr
          h1 Директор на всі 200
            h4 Тренажер для успішного проходження конкурсу на посаду директора закладу загальної середньої освіти
            .desc(style="text-align: center;")
              p Один з кроків до перемоги у конкурсі на посаду директора — скласти іспит на знання законодавства у сфері загальної середньої освіти. Щоб запитання не підривали мозок, а відповіді відскакували від зубів, прокачайте знання з допомогою тренажера.
              p У ньому ми, редакція «Практики управління закладом освіти», заклали вимоги Закону про повну загальну середню освіту та рекомендації МОН (лист від 20.05.2020 №1/9-264).
          a.btn(href="./index.html") Нумо тренуватися!