html {
  font-size: $startSize;
}

body {
  background: #f9f9f9;
  font: $font;
}

.mainPageWarpepr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: 600;
  }
  h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    text-align: center;
    max-width: 600px;
    line-height: 1.5;
  }

  h5 {
    font-size: 20px;
    font-weight: 600;
  }

  .desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    margin-top: 40px;
    max-width: 900px;

    ul,
    p {
      margin-bottom: 30px;
    }
    p {
      font-size: 19px;
    }

    ul {
      padding: 0 0 0 20px;
      text-align: left;
      margin-top: -20px;
      font-size: 17px;
      li {
        margin: 10px 0;
        .smile {
          font-size: 20px;
          padding: 0 4px;
        }
      }
    }
  }
  .btn {
    background: rgb(1, 92, 170);
    border-radius: 5px;
    min-width: 140px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 20px;
    font-size: 16px;
    transition: all 0.2s ease 0s;
    min-height: 40px;
    line-height: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 7px;
    color: white;
    margin-top: 20px;
  }
}

.mainPageTest {
  min-height: calc(90vh - 100px);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;

  .progress-circle {
    width: 15rem;
    height: 15rem;
  }
}

.tda {
  h2 {
    margin: 20px;
  }
}
