mixin image(name)
    img(class!=attributes.class src='images/'+name)
-var id2 = "<div class='informer-wrapper'><div class='id2-rx-user-informer-block'>  <a title='Підтримка' href='https://id.mcfr.ua/Feedback' target='_blank' class='support support-icon'></a> <div class='id2-rx-user-informer-button id2-rx-informer-open'><span class='id2-rx-user-informer-icon'></span> <span id='id2-rx-user-buttontitle'>Тим Кук</span> <span id='id2-rx-user-buttontitlelong' style='display: none;'>Яков Кульгейко</span></div></div></div>";
    