header.header
  .container
    .d-flex.justify-content-between.align-items-center
      div.logo-wrapper
        a(href="/").d-flex.align-items-center
          +image('logo-puzo.png')
      div !{id2}