header.header
  .container
    .d-flex.justify-content-between.align-items-center
      div.logo-wrapper
        a(href="/").d-flex.align-items-center
          +image('logo-puzo.png')
      div !{id2}
div.header2
  .container
    nav.d-flex.align-items-center
      a(href="./index.html") Головна
      a(href="./about.html")  Про сервіс